<div class="flex h-full px-6 py-2 bg-white rounded-md gap-x-4">
  <div class="flex items-center px-4 bg-gray-100 rounded-lg">
    <label for="departmentFilter">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="w-6 h-6 text-gray-400"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M8 14v3m4-3v3m4-3v3M3 21h18M3 10h18M3 7l9-4 9 4M4 10h16v11H4V10z"
        />
      </svg>
    </label>
    <input
      type="text"
      placeholder="填入「開課單位」篩選"
      id="departmentFilter"
      class="py-2 placeholder-gray-400 bg-transparent border-transparent  focus:border-transparent focus:ring-transparent"
    />
  </div>
  <label class="flex items-center h-full px-6 py-2 bg-gray-100 rounded-lg gap-x-2">
    <input
      type="checkbox"
      class="text-teal-400 border-2 border-gray-300 rounded  focus:ring-transparent focus:ring-offset-0"
    />
    <span class="text-gray-400">僅顯示有心得之課程</span>
  </label>
</div>
