<ng-container *ngIf="(status$ | async) === 'open'">
  <div
    class="
      fixed
      top-0
      left-0
      flex
      items-center
      justify-center
      w-screen
      h-screen
      bg-gray-600 bg-opacity-50
      backdrop-filter backdrop-blur-[2px]
    "
    (click)="close()"
  >
    <div (click)="$event.stopPropagation()" class="flex w-3/4 h-full text-gray-800 bg-white">
      <div class="w-[360px] flex-shrink-0 bg-gray-100 px-8 py-12 gap-y-4 flex flex-col">
        <ng-container *ngIf="data$ | async as data; else infoLoading">
          <h1 class="mb-6 text-3xl font-bold">{{ data.course?.['課程名稱'] }}</h1>
          <div class="p-3 bg-white rounded-lg">
            <p class="text-xs text-gray-500">課程編號</p>
            <h2>{{ data.course?.['系號'] }}{{ data.course?.['選課序號'] }}</h2>
          </div>
          <div class="p-3 bg-white rounded-lg">
            <p class="text-xs text-gray-500">開課單位</p>
            <h2>{{ data.course?.['系所名稱'] }}</h2>
          </div>
          <div class="p-3 bg-white rounded-lg">
            <p class="text-xs text-gray-500">開課老師</p>
            <h2>{{ data.course?.['老師'] }}</h2>
          </div>
          <div class="p-3 bg-white rounded-lg">
            <p class="text-xs text-gray-500">開課時段</p>
            <h2>{{ data.course?.['時間'] }}</h2>
          </div>
          <div class="flex justify-between text-center gap-x-4">
            <div class="flex-1 h-16 p-3 bg-indigo-400 rounded-md bg-opacity-10">
              <p class="text-xs text-gray-500">收穫</p>
              <p class="font-bold">{{ data.got }}</p>
            </div>
            <div class="flex-1 h-16 p-3 rounded-md bg-cocoa-400 bg-opacity-10">
              <p class="text-xs text-gray-500">甜度</p>
              <p class="font-bold">{{ data.sweet }}</p>
            </div>
            <div class="flex-1 h-16 p-3 rounded-md bg-lemon-400 bg-opacity-10">
              <p class="text-xs text-gray-500">涼度</p>
              <p class="font-bold">{{ data.cold }}</p>
            </div>
          </div>
        </ng-container>
        <ng-template #infoLoading>
          <h1 class="mb-6 font-bold bg-gray-300 rounded-lg h-9"></h1>
          <div class="h-16 bg-gray-200 rounded-lg"></div>
          <div class="h-16 bg-gray-200 rounded-lg"></div>
          <div class="h-16 bg-gray-200 rounded-lg"></div>
          <div class="h-16 bg-gray-200 rounded-lg"></div>
        </ng-template>
      </div>
      <div class="flex flex-col flex-1 px-8 pt-12 overflow-y-auto gap-y-10">
        <h2 class="text-3xl font-bold">課程心得</h2>
        <ul
          class="flex flex-col pb-8 overflow-y-auto gap-y-4"
        >
          <ng-container *ngIf="data$ | async as data; else commentLoading">
            <li
              *ngFor="let comment of data.comments"
              class="flex flex-col items-start p-4 bg-gray-100 rounded-lg gap-y-2"
            >
              <div class="px-4 py-1 text-sm bg-white rounded-full">
                {{ comment.semester }}
              </div>
              <p>{{ comment.text }}</p>
            </li>
          </ng-container>
          <ng-template #commentLoading>
            <div class="h-32 bg-gray-200 rounded-lg"></div>
            <div class="h-32 bg-gray-200 rounded-lg"></div>
            <div class="h-32 bg-gray-200 rounded-lg"></div>
            <div class="h-32 bg-gray-200 rounded-lg"></div>
          </ng-template>
        </ul>
      </div>
    </div>
  </div>
</ng-container>
