<ul class="flex flex-col gap-y-0.5">
  <li
    class="flex items-center px-6 py-3 transition bg-white rounded-md cursor-pointer gap-x-6 hover:bg-teal-100 dark:bg-gray-800 dark:hover:bg-teal-700"
    *ngFor="let course of courses"
    (click)="open(course.id)"
  >
    <div
      class="relative flex items-center flex-shrink-0 rounded-full"
      [ngClass]="{ 'bg-red-100 dark:bg-red-400': course['系號'] === 'A9', 'bg-green-100 dark:bg-green-400': course['系號'] === 'A1' }"
    >
      <p
        class="grid w-12 h-12 font-medium text-white rounded-full select-none place-items-center"
        [ngClass]="{ 'bg-red-400 dark:bg-red-500': course['系號'] === 'A9', 'bg-green-400 dark:bg-green-500': course['系號'] === 'A1' }"
      >
        {{ course['系所名稱'][0] }}
      </p>
      <p class="px-4 text-sm rounded-r-full dark:text-white">{{ course['系號'] }}-{{ course['選課序號'] }}</p>
    </div>
    <div>
      <p class="font-medium">{{ course['課程名稱'] }}</p>
      <p class="text-sm text-gray-400">
        {{ course['系所名稱'] }} — {{ course['老師'] }} — {{ course['時間'] }}
      </p>
    </div>
  </li>
</ul>
